__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
*.pot
*.orig
*.rej
*.swp
*~
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sqlite3
*.db
*.sqlite
*.env
.env
.test-deps/
